.loader {
  border: 6px solid #f3f3f3; /* Light grey */
  border-top: 6px solid #0dffef; /* Blue */
  border-radius: 50%;
  width: 36px;
  height: 36px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg);}
}
@tailwind base;
@tailwind components;
@tailwind utilities;